language: ruby
cache:    bundler
sudo:     false

script:
  - bundle exec rake

before_install:
  - gem update --system
  - gem install bundler

rvm:
  - 2.3.8
  - 2.4.5
  - 2.5.3
  - 2.6.1
  - ruby-head
  - jruby-9.2.5.0
  - jruby-head

gemfile:
  - gemfiles/rails_42.gemfile
  - gemfiles/rails_50.gemfile
  - gemfiles/rails_51.gemfile
  - gemfiles/rails_52.gemfile
  - gemfiles/rails_edge.gemfile

matrix:
  exclude:
    - rvm: 2.3.8
      gemfile: gemfiles/rails_edge.gemfile
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-9.2.5.0
    - rvm: jruby-head
    - gemfile: gemfiles/rails_edge.gemfile
