name: build

on:
  - push

jobs:
  stable:
    strategy:
      matrix:
        ruby_version:
          - '3.1'
          - '3.0'
          - '2.7'
          - '2.6'
          - '2.5'
          - '2.4'
          - '2.3'
          - 'jruby-9.3.3.0'
        gemfile:
          - gemfiles/rails_70.gemfile
          - gemfiles/rails_61.gemfile
          - gemfiles/rails_60.gemfile
          - gemfiles/rails_52.gemfile
          - gemfiles/rails_51.gemfile
          - gemfiles/rails_50.gemfile
          - gemfiles/rails_42.gemfile
        exclude:
          - ruby_version: '3.1'
            gemfile: gemfiles/rails_60.gemfile
          - ruby_version: '3.1'
            gemfile: gemfiles/rails_52.gemfile
          - ruby_version: '3.1'
            gemfile: gemfiles/rails_51.gemfile
          - ruby_version: '3.1'
            gemfile: gemfiles/rails_50.gemfile
          - ruby_version: '3.1'
            gemfile: gemfiles/rails_42.gemfile
          - ruby_version: '3.0'
            gemfile: gemfiles/rails_52.gemfile
          - ruby_version: '3.0'
            gemfile: gemfiles/rails_51.gemfile
          - ruby_version: '3.0'
            gemfile: gemfiles/rails_50.gemfile
          - ruby_version: '3.0'
            gemfile: gemfiles/rails_42.gemfile
          - ruby_version: '2.7'
            gemfile: gemfiles/rails_70.gemfile
          - ruby_version: '2.7'
            gemfile: gemfiles/rails_52.gemfile
          - ruby_version: '2.7'
            gemfile: gemfiles/rails_51.gemfile
          - ruby_version: '2.7'
            gemfile: gemfiles/rails_50.gemfile
          - ruby_version: '2.7'
            gemfile: gemfiles/rails_42.gemfile
          - ruby_version: '2.6'
            gemfile: gemfiles/rails_70.gemfile
          - ruby_version: '2.6'
            gemfile: gemfiles/rails_42.gemfile
          - ruby_version: '2.5'
            gemfile: gemfiles/rails_70.gemfile
          - ruby_version: '2.4'
            gemfile: gemfiles/rails_70.gemfile
          - ruby_version: '2.4'
            gemfile: gemfiles/rails_61.gemfile
          - ruby_version: '2.4'
            gemfile: gemfiles/rails_60.gemfile
          - ruby_version: '2.3'
            gemfile: gemfiles/rails_70.gemfile
          - ruby_version: '2.3'
            gemfile: gemfiles/rails_61.gemfile
          - ruby_version: '2.3'
            gemfile: gemfiles/rails_60.gemfile
          - ruby_version: 'jruby-9.3.3.0'
            gemfile: gemfiles/rails_51.gemfile
          - ruby_version: 'jruby-9.3.3.0'
            gemfile: gemfiles/rails_50.gemfile
          - ruby_version: 'jruby-9.3.3.0'
            gemfile: gemfiles/rails_42.gemfile
    runs-on: ubuntu-18.04
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - run: bundle exec rake

  rails_edge:
    runs-on: ubuntu-18.04
    env:
      BUNDLE_GEMFILE: gemfiles/rails_edge.gemfile
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true
      - run: bundle exec rake

  ruby_edge:
    strategy:
      matrix:
        gemfile:
          - gemfiles/rails_edge.gemfile
          - gemfiles/rails_70.gemfile
    runs-on: ubuntu-18.04
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 'ruby-head'
          bundler-cache: true
      - run: bundle exec rake || echo "Ruby edge test is done."
